{% extends 'usercenter-info.html' %}
{% load static %}

{% block title %}我的消息- 学习在线{% endblock %}

{% block bread %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="{% url 'homepage' %}">首页</a>></li>
            <li><a href="{% url 'users:user_center' %}">个人中心</a>></li>
            <li>我的消息</li>
        </ul>
    </div>
</section>

{% endblock %}

{% block content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的消息</h1>
			</div>
		</div>

		<div class="personal_des permessage">

			<div class="head">
				<ul class="tab_header messagehead">
					<li class="active"><a href="/user/message/">个人消息</a> </li>
				</ul>
			</div>

			<div class="messagelist">
                {% for msg in user_msgs.object_list %}
                    <div class="messages">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ msg.add_time }}</span><span class="fr btn foldbtn"></span></div>
                            <p>
                                {{ msg.message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
			</div>

			<div class="pageturn">
                  <ul class="pagelist">
                        {% load i18n %}
                            {% if user_msgs.has_previous %}
                                {# 有上一页就不显示这个 #}
                                <li class="long"><a href="?{{ user_msgs.previous_page_number.querystring }}" >&lsaquo;&lsaquo; {% trans "上一页" %}</a></li>
                            {% endif %}

                            {% for page in user_msgs.pages %}
                                {# 循环遍历每一页 #}
                                {% if page %}
                                    {% ifequal page user_msgs.number %}
                                        {# 如果是当前页 #}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}

                                {% else %}
                                    <li class="none"><a href="">/static.</a></li>

                                {% endif %}
                            {% endfor %}

                            {% if user_msgs.has_next %}
                                <li class="long"><a href="?{{ user_msgs.next_page_number.querystring }}" >&lsaquo;&lsaquo; {% trans "下一页" %}</a></li>
                            {% endif %}

                        </ul>
            </div>

		</div>

	</div>
{% endblock %}