{% extends 'usercenter-info.html' %}
{% load static %}

{% block title %}我的课程- 学习在线{% endblock %}

{% block bread %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="{% url 'homepage' %}">首页</a>></li>
            <li><a href="{% url 'users:user_center' %}">个人中心</a>></li>
            <li>我的课程</li>
        </ul>
    </div>
</section>

{% endblock %}

{% block content %}
<div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for user_course in user_courses %}
                    <div class="module1_5 box">
                            <a href="{% url 'courses:course_detail' user_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="/media/{{ user_course.course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="../../courses/templates/course-detail.html"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ user_course.course.lea }}</i></span>
                                <span class="fr">学习人数：13</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.org }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ user_course.course.favor_num }}</span>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}