{% extends 'base.html' %}

{% block title  %}教育机构列表 | 学习在线{% endblock %}

{% block bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'homepage' %}">首页</a>></li>
                <li>课程机构</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
<section>
	<div class="wp butler_list_box list">
	    <div class='left'>

        {#    机构筛选导航    #}
		<div class="listoptions">
			<ul>
				<li>
					<span class="sort_title">机构类别</span>
					<span class="">
                        <a href="?city={{ city_id }}&?ct=&sort={{ sort }}"><span class="{% if not category %}active2{% endif %}">全部</span></a>

                            <a href="?ct=training_org&city={{ city_id }}&sort={{ sort }}"><span class="{% ifequal category 'training_org' %}active2{% endifequal %}">培训机构</span></a>

                            <a href="?ct=school&city={{ city_id }}&sort={{ sort }}"><span class="{% ifequal category 'school' %}active2{% endifequal %}">高校</span></a>

                            <a href="?ct=personal&city={{ city_id }}&sort={{ sort }}"><span class="{% ifequal category 'personal' %}active2{% endifequal %}">个人</span></a>
					</span>
				</li>

				<li>
					<span class="sort_title">所在地区</span>
					<span class="more">更多</span>
					<span class="">
                        <a href="?ct={{ category }}&?city="><span class="{% ifequal city_id '' %}active2{% endifequal %}">全部</span></a>
                        {% for city in all_cities %}
                                <a href="?city={{ city.id }}&ct={{ category }}"><span class="{% ifequal city_id city.id|stringformat:'s' %}active2{% endifequal %}">{{ city.name }}</span></a>
                        {% endfor %}
					</span>
				</li>
			</ul>
		</div>


		<div class="butler_list company list">

            <div class="layout">
                <div class="head">
                    <ul class="tab_header">
                        <li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?ct=&city=&sort=">全部</a> </li>
                        <li class="{% ifequal sort 'students' %}active{% endifequal %}"><a href="?sort=students&ct=&city=">学习人数 &#8595;</a></li>
                        <li class="{% ifequal sort 'courses' %}active{% endifequal %}"><a href="?sort=courses&ct=&city=">课程数 &#8595;</a></li>
                        <li style="float: right"><span class="key">共{{ orgs_num }}家</span></li>
                    </ul>

                </div>


                {% for org in orgs.object_list %}
                <div class="media">
                  <div class="media-left" >
                    <a href="{% url 'orgs:org_homepage' org.id %}">
                      <img class="media-object" src="/media/{{ org.image }}" alt="...">
                    </a>
                  </div>

                  <div class="media-body">
                        <div class="clearfix">
                             <a href="{% url 'orgs:org_homepage' org.id %}">
                                 <h1>{{ org.name }}</h1>
                             </a>
                        </div>

                      <div class="detail">
                           <span class="glyphicon glyphicon-book">&nbsp;课程数{{ org.course_set.all.count }}</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-user">&nbsp;学习人数{{ org.address }}</span><br>
                            <span class="glyphicon glyphicon-folder-open">
                                推荐课程
                                {% for course in org.course_set.all|slice:':2' %}
                                 <a href="{% url 'courses:course_detail' course.id %}"><span style="color: #55b929">{{ course.name }}</span></a>
                                {% endfor %}
                            </span>

                      </div>

                  </div>

                </div>
            {% endfor %}


            </div>
                {#  分页　#}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    {% load i18n %}
                        {% if orgs.has_previous %}
                            {# 有上一页就不显示这个 #}
                            <li class="long"><a href="?{{ orgs.previous_page_number.querystring }}" >{% trans "上一页" %}</a></li>
                        {% endif %}

                            {% for page in orgs.pages %}
                                {# 循环遍历每一页 #}
                                {% if page %}
                                    {% ifequal page orgs.number %}
                                        {# 如果是当前页 #}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}

                                {% else %}
                                    <li class="none"><a href="">/static.</a></li>

                                {% endif %}
                            {% endfor %}

                        {% if orgs.has_next %}
                            <li class="long"><a href="?{{ orgs.next_page_number.querystring }}" >{% trans "下一页" %}</a></li>
                        {% endif %}

                     </ul>
                </nav>

            </div>

        </div>

        {# UserAsk对话框 #}
        <div class="right companyright">
			<div class="head"></div>

			<form class="rightform" id="jsStayForm">
				<div>
                    <img src="/static/images/rightform1.png"/>
                    <input type="text" name="name" id="name" placeholder="名字" maxlength="25" class="user_input"/>
                </div>
				<div>
                    <img src="/static/images/rightform2.png"/>
                    <input type="text" name="mobile" id="mobile" placeholder="联系电话" class="user_input"/>
                </div>
				<div>
                    <img src="/static/images/rightform3.png"/>
                    <input type="text" name="course_name" id="course_name" placeholder="课程名" class="user_input"/>
                </div>

                <input id="jsStayBtn" class="btn btn-success" type="button" value="立即咨询">
                {% csrf_token %}
            </form>
		</div>

        {#   机构排名侧边框  #}
         <div class="right companyrank layout">
            <div class="row">
                <div class="head">授课机构排名</div>
                {% for org in top_three_orgs %}
                    <div class="thumbnail" style="height: 150px;margin-left: 30px">
                    <a href="{% url 'orgs:org_homepage' org.id %}">
                        <img src="/media/{{ org.image }}" alt="...">
                    </a>
                      <div class="caption" style="font-size: 14px">
                          <span class="glyphicon glyphicon-user">&nbsp{{ org.name }}</span>&nbsp;
                          <span class="glyphicon glyphicon-tags">&nbsp;{{ org.get_category_display }}</span><br>
                        <span class="glyphicon glyphicon-hand-right">&nbsp;点击量&nbsp;{{ org.click_num }}</span>
                      </div>
                    </div>
                {% endfor %}
              </div>
         </div>

    </div>

</section>
{% endblock %}


{% block custom_js %}
<script>
// 聚焦input框后清空内容以及格式
$('.user_input').click(function () {
    $(this).val('').removeClass('error_tips')
});

// 提交咨询信息
$(function(){
    $('#jsStayBtn').on('click', function(){
        $.ajax({
            type: "POST",
            url:"{% url 'operation:user_ask' %}",
            data:$('#jsStayForm').serialize(),
            success: function(data) {
                if(data.status == 'success'){
                    $('#jsStayForm')[0].reset();
                    alert("提交成功")
                }else if(data.status == 'fail'){
                    if(data.msg.error){
                        $('#jsStayForm')[0].reset(); // 重置输入框
                         alert(data.msg.error)  // 相同信息重复提交
                    }
                    if(data.msg.course_name){
                        {# 若信息验证失败，显示错误信息 #}
                        $('#course_name').val(data.msg.course_name[0]).addClass('error_tips')
                    }
                    if(data.msg.mobile){
                        $('#mobile').val(data.msg.mobile[0]).addClass('error_tips')
                    }
                    if(data.msg.name){
                        $('#name').val(data.msg.name[0]).addClass('error_tips')
                    }
                }
            }
        });
    });
})

</script>

{% endblock %}

